[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.1.0"
requests = "*"
bs4 = "*"
flask = "*"
flask-cors = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
